*__pycache__
.idea
demo/test_trainer
Evaluation/HumanEval/humaneval_samples.jsonl
Evaluation/HumanEval/humaneval_samples.jsonl_results.jsonl
Evaluation/HumanEval-X/humaneval-x-python_samples.jsonl
Evaluation/HumanEval-X/humaneval-x-python_samples_results.jsonl
Evaluation/MBPP/data
Evaluation/MBPP/mbpp_samples.jsonl
samples_mbpp.jsonl
*playground.py
*test.ipynb
