[submodule "human-eval"]
	path = human-eval
	url = git@github.com:openai/human-eval.git
[submodule "CodeGeeX"]
	path = CodeGeeX
	url = git@github.com:THUDM/CodeGeeX.git
[submodule "DeepSeek-Coder"]
	path = DeepSeek-Coder
	url = git@github.com:deepseek-ai/DeepSeek-Coder.git
